body {
    font-family: 'Arial', sans-serif;
    background: url('/static/image.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(247, 247, 248, 0.315); /* Sea blue with transparency */
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 40px;
    max-width: 400px;
    width: 100%;
    max-height: fit-content;
    text-align: center;
    border: 3px solid #005e99a7; /* Darker sea blue border */
}

h1 {
    color: #021b34; /* Dark navy blue */
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    color: #091f39; /* Darker navy blue */
    font-weight: bold;
    margin-bottom: 8px;
    font-size: larger;
}

input[type="text"] {
    width: calc(100% - 16px);
    padding: 8px;
    border: 2px solid #005f99; /* Darker sea blue border */
    border-radius: 8px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

input[type="text"]:focus {
    border-color: #00aaff; /* Bright sea blue on focus */
    outline: none;
    box-shadow: 0 0 10px rgba(0, 170, 255, 0.5);
}

input[type="submit"] {
    background-color: #285d77; /* Bright sea blue */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #d8e2e5; /* Softer sea blue */
}

.prediction {
    margin-top: 15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Light background with transparency */
    border-radius: 8px;
    color: #00264d; /* Dark navy blue text */
    border: 2px solid #005f99; /* Darker sea blue border */
}
